
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import './fontawesome/scss/fontawesome';
@import './fontawesome/scss/fa-regular';
@import './fontawesome/scss/fa-light';

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// Dialog
.el-dialog__header {
    background: $body-bg;
    padding-bottom: 17px!important;
}

.product_header {
  display: flex;
  align-items: flex-end;

  .site_logo {
      max-height: 40px;
      display: inline-block;
  }
  .site_product {
      text-align: right;
  }
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.justify-around {
    display: flex;
    justify-content: space-around;
}

.profile-photo-container {
    float: left;
    position: absolute;

    .profile-photo {
        margin-right: 0.5rem;
        @include aspect-ratio(1, 1);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
    }
}
