// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
 @import url("https://use.typekit.net/yfc1qbs.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import './fontawesome/scss/fontawesome';
@import './fontawesome/scss/fa-regular';
@import './fontawesome/scss/fa-light';

// Shared items
@import "shared";


body, html {
    font-family: "myriad-pro",sans-serif;
}

// Header
.navbar {
    z-index: 100;
}
.below_nav_container {
    position: absolute;
    top: 0px;
    padding-top: $navbar_top_height!important;
    min-height: $header_height;
}
.below_nav_container_buffer {
    height: ($header_height - $navbar_top_height) - 40px;
}
.product-header {
    height: $navbar_top_height;
}

.page-home {
    div#particles-js {
        position: absolute;
        top: 0px;
        height: $header_height;
        z-index: 0;
        width: 100%;
    }
}

// Login
.auth-form {
    width: 100%;
    z-index: 10;
}

.page-auth {
    div#particles-js {
        position: absolute;
        top: 0px;
        z-index: 0;
        height: 100%;
        width: 100%;
    }

    .particles-js-canvas-el {
        position: absolute;
        top: 0;
    }
}
